.Plfourcom{
    padding: 40px 0;
    
    .box{
        display: flex;
        gap: 20px;
        
        &__left{
            width: 40%;
        }
        
        &__right{
            width: 50%;

        }
    }
}