.Header{
    background-color: #F2F2F2;
    padding: 20px 0;
    
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__list{
            display: flex;
            align-items: center;
            gap: 30px;
        }
            &__bur{
                display: none;
                color: #333D4B;
                font-size: 33px;
                &:hover{
                    color: #010e1d;
                }
            }
        &__item{
            
            &__link{
                font-family: 'Barlow';
                font-weight: 700;
                font-size: 12px;
                color: #83888F;
                transition: 0.2s;
                &:hover{
                    color: #333D4B;
                }
            }
        }
    }
    
    
}



@media screen  and (max-width: 640px) {
    .Header{
        .navbar{
            &__list{
                display: none;
            }
            &__bur{
                display: block;
            }
        }
    }
}